@import '~styles/settings/global';
@import '~styles/tools/mixins/all';

.container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  @include respond-to(medium) {
    flex-direction: row;
  }
}
