$container-background: #23334a;
$container-color: #ffffff;
$container-height: 5.625em;

.container {
  align-items: center;
  background: $container-background;
  color: $container-color;
  display: flex;
  height: $container-height;
  justify-content: center;
}
