$container-background: #d87093;
$container-color: #ffffff;

.container {
  align-items: center;
  background: $container-background;
  color: $container-color;
  display: flex;
  height: 5.625em;
  justify-content: center;
}
